
.home{
    width: 100wh;
    height: 100vh;
    background: url(/public/img/bg.jpg);
    background-position: center;
    margin: 0;
    margin-top: 3rem;
}
/* .background{
    position: relative;
    min-width: 1559px;
    max-height: 1700px;
    overflow: hidden;
} */
.title{
    font-size: 8.4rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title_sale{
         font-size: 8.4rem;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
}

@media screen and (max-width:1163px){
   
}